<div class="ink-grid book-container">
  <h2><%= @list.name %></h2>
  <% @list.books.each do |book| %>
    <% if book.name? %>
      <div>
        <span>
           <strong>
            <%= link_to book.name, list_book_path(@list, book) %>
          </strong>
        </span>
        <span>By <%= book.author %></span>

      </div>
    <% end %>
  <% end %>
  <div class="edit-button">
    <%= link_to "Add a Book", new_list_book_path(@list), :class => "ink-button blue" %>
  </div>
</div>

