<div class="ink-grid book-container">
  <h2><%= @book.name %></h2>
  <div class="column-group">
    <div class="all-30 book-image">
      <img src="<%= @book.image %>" />
    </div>
    <div class="all-50">
      <p>
        <%= @book.description %>
      </p>
    </div>
  </div>
  <div class="edit-button">
    <a href="#" id="editBook" class="ink-button orange">Edit Details</a>
  </div>
</div>


  <div class="ink-shade fade">
    <div id="myModal" class="ink-modal fade" data-trigger="#editBook" data-width="80%" data-height="80%" role="dialog" aria-hidden="true" aria-labelled-by="modal-title">
        <div class="modal-header">
          <button class="modal-close ink-dismiss"></button>
          <h2 id="modal-title">Edit Book</h2>
        </div>
        <div class="modal-body" id="modalContent">
          <%= render "edit" %>
        </div>
        <div class="modal-footer">
          <div class="push-right">
            <button class="ink-button caution ink-dismiss">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.Modal_1'], function( Selector, Modal ){
      var modalElement = Ink.s('#myModal');
      var modalObj = new Modal( modalElement );
    });
  </script>